<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Inkink</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.app.css") %>">
  </head>

  <body>
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <div class="container">
      <%= render @view_module, @view_template, assigns %>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
