<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Inkink</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/shop.app.css") %>">
  </head>

  <body>
    <div class="header section">
      <div class="container">
        <div class="header-content">
          <div class="header-left">
            <a href="<%= page_path(@conn, :index) %>" class="logo">
              <img src="<%= static_path(@conn, "/images/logo/inkink-logo-white.png") %>">
            </a>
          </div>
          <div class="header-right">
          <div class="navbar-options">
            <div class="option">
              <a href="#" class="button">Artworks</a>
            </div>
            <div class="option">
              <a href="<%= artist_path(@conn, :index) %>" class="button">Artists</a>
            </div>
            <div class="option">
              <a href="#" class="button">Events</a>
            </div>
            <div class="option">
              <a href="#" class="button">About</a>
            </div>
            <div class="option">
              <a href="<%= session_path(@conn, :new) %>" class="button button-primary">Sign In</a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <%= render @view_module, @view_template, assigns %>

    <!-- Footer -->
    <div class="footer section">
      <div class="container">
        <div class="footer-row content">
          <div class="footer-column">
            <h6 class="heading heading-left">About Us</h6>
            <p class="about-us">
              Our company offer high-end collectibles such as art prints, sketch books and one of a kind original art pieces &#8211; created by some of the world&#8217;s top artists.
            </p>
          </div>
          <div class="footer-column">
            <h6 class="heading heading-left">Contact Us</h6>
            <a class="contact-info" href="https://www.facebook.com/inkink.art/">
              <i class="icon ion-social-facebook"></i>
              <span class="link">facbook.com/inkink.art/</span>
            </a>
            <a class="contact-info" href="mailto:inkink.art@gmail.com">
              <i class="icon ion-email"></i>
              <span class="link">inkink.art@gmail.com</span>
            </a>
          </div>
          <div class="footer-column">
            <h6 class="heading heading-left">Locate Us</h6>
            <div class="location-info">
              <i class="icon ion-ios-location"></i>
              <span class="link">231 Bain Street, Bras Basah Complex #02-85 Singapore</span>
            </div>
          </div>
        </div>
      </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
