/* Artist Section */

.artist-lineup {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.artist-lineup > .artist {
  flex: 0 0 49%;
  margin-bottom: 24px;
}

.artist-card {
  padding: 16px;
  background-color: #292929;
}

.artist-card > .artist-details {
  display: flex;
  margin-bottom: 16px;
}

.artist-card > .artist-details > .photo {
  flex: 0 0 120px;
}

.artist-card > .artist-details > .info {
  flex: 1;
  padding: 16px;
  padding-left: 24px;
}

.artist-card > .artist-details > .info > .name {
  margin-bottom: 8px;
}

.artist-card > .artist-details > .info > .name:hover {
  text-decoration: underline;
}

.artist-card > .artist-details > .info > .country,
.artist-card > .artist-details > .info > .handle {
  color: #999999;
}

.artist-card > .artist-details .photo > img {
  border-radius: 100%;
  width: 120px;
}

/* Artwork */

.artist-works {
  display: flex;
}

.artist-works > .artwork {
  flex: 1;
}

.artist-works > .artwork > .inner {
  padding-top: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}