/* Artist Section */

.artist-page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
  align-items: flex-start;
}

.artist-page > .artist {
  flex: 0 0 28%;
  margin-bottom: 24px;
}

.artist-container {
  padding: 32px;
  background-color: #292929;
}

.artist-container > .artist-details {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
  text-align: center;
}

.artist-container > .artist-details > .photo {
  flex: 1;
}

.artist-container > .artist-details > .info {
  flex: 1;
  padding: 16px;
}

.artist-container > .artist-details > .info:after {
  content: '';
  background-color: #1EC8BE;
  width: 100%;
  height: 2px;
  max-width: 80px;
  display: block;
  margin: 24px auto;
}

.artist-container > .artist-details > .description {
  text-align: left;
}

.artist-container > .artist-details > .info > .name {
  margin-bottom: 8px;
}

.artist-container > .artist-details > .info > .country,
.artist-container > .artist-details > .info > .handle {
  color: #999999;
}

.artist-container > .artist-details > .photo {
  padding-top: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
}

/* Artwork */

.artist-artworks-list {
  flex: 0 0 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.artist-artworks-list > .artwork {
  flex: 0 0 49%;
  margin-bottom: 16px;
}

.artist-artworks-list > .artwork > .artwork-container > .photo {
  padding-top: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.artist-artworks-list > .artwork > .artwork-container > .info {
  padding: 16px;
  background-color: #292929;
}